@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	box-sizing: border-box;
}


html {
    font-size: 1rem;
}
body {
    font-family: 'Raleway', sans-serif;
    background: #000000;
    color: #FFFFFF;
}
.banner {
    border-bottom: 1px solid rgba(51, 168, 219, 1);
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-image: url(../images/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner-content p {
    width: 515px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
}

.banner-content button {
    padding: 19px 91px;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 1;
    border-image-repeat: round;
    background-color: transparent;
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1rem;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    text-align: center;
}

.banner-content > * {
    margin-bottom: 20px;
}

/**----------------------------------------------- **/
main {
    display: flex;
    flex-direction: column;
}

#course-content,
#transform-world,
#professional-challenges {
    padding: 60px 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    
}

#course-content p {
    width: 792px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: left;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.modules-list .module{
    padding:  16px 127px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: linear-gradient(0deg, #252525, #252525),
                linear-gradient(0deg, #33A8DB, #33A8DB);
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
    margin-bottom: 20px;
}

section > * {
    margin-bottom: 20px;
}

.modules-list span {
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(0deg, #33A8DB, #33A8DB),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/**----------------------------------------------- **/

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 60px;
    align-items: start;
    justify-content: center;;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    left: 50px;
}

#professional-challenges p {
    width: 792px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

a:link {text-decoration: none; color: #f00;}
a:visited {text-decoration: none; color: #f00;}
a:hover {text-decoration: none; color: #f00;}
a:active {text-decoration: none; color: #f00;}

.meuLink {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
}
.meuLink a:link {text-decoration: underline; color: #fff;}
.meuLink a:visited {text-decoration: underline; color: #fff;}
.meuLink a:hover {text-decoration: underline; color: #fff;}
.meuLink a:active {text-decoration: underline; color: #fff;}
.meuLink a {}
